<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0,shrink-to-fit=no">
    <meta name="theme-color" content="#d50000">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Registro Administrativo de Certificaciones Ambientales</title>
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    @RenderBody()
</body>
</html>